*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /* ## Colors */

/* ### Primary */

--Very-dark-blue-main-background: hsl(233, 47%, 7%);
--Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
--Soft-violet-accent: hsl(277, 64%, 61%);

/* ### Neutral */

--White-main-heading-stats: hsl(0, 0%, 100%);
--Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
--Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

--Lexend-font: 'Lexend Deca', sans-serif;
--Inter-font: 'Inter', sans-serif;

}
body{
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: var(--Very-dark-blue-main-background);

}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  background-color: var(--Dark-desaturated-blue-card-background);
  border-radius: 1vh;
  overflow: hidden;
}
/* left div */
.left{
  padding: 7vh 6vh;
}
.title{
  font-family: var(--Inter-font);
  color: white;
  margin-bottom: 4vh;
}
.insights{
  color: var(--Soft-violet-accent);
}
.description{
  font-family: var(--Lexend-font);
  font-size: 15px;
  color: var(--Slightly-transparent-white-main-paragraph);
  margin-bottom: 11vh;
  width: 85%;
}

.statistics{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.k10{
  font-size: 22px;
  font-family: var(--Inter-font);
  color: var(--White-main-heading-stats);
  margin-bottom: 1vh;
}
.name-statistics{
  font-family: var(--Lexend-font);
  color: var(--Slightly-transparent-white-stat-headings);
}


/* right div */

.right{
  background-image: url(images/image-header-desktop.jpg) ;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
}
.background-img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: hsla(277, 92%, 26%, 0.5);

}


@media(max-width:800px){
 
 
 .container{
  display: flex;
  flex-direction: column;
flex-flow: column-reverse;
margin: 5vh 0;
}
.right{
  height: 250px;
  background-image: url(images/image-header-mobile.jpg);
}
.left{
  place-items: center;
  text-align: center;
}
.description{
  width: 100%;
}
.statistics{
width: 100%;
flex-direction: column;
place-items: center;
}
.k10{
  margin-top: 4vh;
}
}